@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media only screen and (max-width: 600px) {
  body {
    display: none;
    visibility: hidden;
  }
} */

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --navbar-width: 80px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.cursor{
  pointer-events: none;
  
}


.github-repo{
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
}

.skill-mobile-showcase-div > div:nth-child(even){
  justify-content: end;
}

.skill-mobile-showcase-div > div:nth-child(odd){
  justify-content: start;
}


/* desktop */
/* Default alignment for all items */
.skill-desktop-showcase-div > div:nth-child(4n-3){
  justify-content: start; /* Default alignment */
}

/* Every 3rd child item should be aligned to end */
.skill-desktop-showcase-div > div:nth-child(2n){
  justify-content: center; /* Default alignment */
}

/* Every 2nd child item, except those aligned to end, should be aligned to center */
.skill-desktop-showcase-div > div:nth-child(4n-1){
  justify-content: end; /* Default alignment */
}

